.calendar-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    box-sizing: border-box;
    border-left: var(--calendar-border);
    border-right: var(--calendar-border);
    border-bottom: var(--calendar-border);
}

/* make this above a variable */

calendar-cell:not(:last-child) {
    border-right: var(--calendar-border);
}
