
:root {
    --calendar-border: 1px solid #e0e0e0;
    --calendar-color-primary: rgb(79, 126, 83);
}

html, body { 
    height: 100%; 
    font-size: 16px;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url('../public/login-background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.w-100 {
    width: 100%;
}

.m-l-auto {
    margin-left: auto !important;
}

.bg-primary {
    background-color: var(--calendar-color-primary) !important;
}

.text-white {
    color: #fff !important;
}

.maxWidth {
    max-width: 75rem;
}

.pageWrapper {
    padding: 2rem;
    min-height: calc(100vh - 5rem);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}